administrator/backups/*
!administrator/backups/index.html
administrator/cache/*
!administrator/cache/index.html
administrator/tmp/*
!administrator/tmp/index.html
cache/*
!cache/index.html
components/libraries/cmslib/cache/*
!components/libraries/cmslib/cache/index.html
configuration.php
images/banners/*
!images/banners/index.html
images/stories/*
!images/stories/index.html
logs/*
!logs/index.html
plugins/tmp/*
!plugins/tmp/index.html
tmp/*
!tmp/index.html
xmlrpc/cache/*
!xmlrpc/cache/index.html